*.db
*.py[cod]
*.sqlite
*.sqlite-journal
*.egg
*.egg-info
build/
dist/
downloads/
example_cache/
http_cache/
venv/
.venv
Pipfile

# JS
node_modules/
package-lock.json
package.json

# Editors
.~*
.idea/
.vim/
.vscode/

# Test / coverage reports
.coverage
.coverage.*
.COVERAGE.*
.mypy_cache/
.nox/
test-reports/

# Sphinx
docs/_build/
docs/modules/
