[build-system]
requires = ['setuptools', 'wheel']

[tool.black]
line-length = 120
skip-string-normalization = true

[tool.coverage.html]
directory = 'test-reports'

[tool.coverage.run]
branch = true
source = ['requests_cache']
omit = [
    'requests_cache/__init__.py',
]

[tool.isort]
profile = "black"
line_length = 100
skip_gitignore = true
skip = ['examples/', 'requests_cache/__init__.py']
known_first_party = ['test']
# Things that are common enough they may as well be grouped with stdlib imports
extra_standard_library = ['pytest', 'setuptools']
