[tool.poetry]
name = "requests-cache"
version = "0.8.0"
description = "A transparent, persistent cache for the requests library"
authors = ["Roman Haritonov", "Jordan Cook"]
license = "BSD License"
readme = "README.md"
homepage = "https://github.com/reclosedev/requests-cache"
repository = "https://github.com/reclosedev/requests-cache"
keywords = ["requests", "cache", "http", "persistence", "sqlite", "redis", "mongodb", "gridfs", "dynamodb"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Typing :: Typed",
]
include = [
    { path = "*.md", format = "sdist" },
    { path = "*.yml", format = "sdist" },
    { path = "docs", format = "sdist" },
    { path = "examples", format = "sdist" },
    { path = "tests", format = "sdist" },
]

[tool.poetry.urls]
"Documentation" = "https://requests-cache.readthedocs.io"

[tool.poetry.dependencies]
python = "^3.7"
attrs = "^21.2"
cattrs = "^1.8"
itsdangerous = "^2.0"
requests = "^2.22"
urllib3 = "^1.25.4"
url-normalize = "^1.4"

# Optional serialization dependencies
bson = {version = ">=0.5", optional = true}
pyyaml = {version = ">=5.4", optional = true}
ujson = {version = ">=4.0", optional = true}

# Optional backend dependencies
boto3 = { version = "^1.15", optional = true }
botocore = { version = "^1.18", optional = true }
pymongo = { version = "^3.0", optional = true }
redis = { version = "^3.0", optional = true }

# Documentation dependencies needed for Readthedocs builds (rtd doesn't support poetry.dev-dependencies)
# [tool.poetry.dev-dependencies]
furo = {version = ">=2021.8.11-beta.42", optional = true}
myst-parser = {version = "^0.15.1", optional = true}
Sphinx = { version = "4.1.2", optional = true }
sphinx-autodoc-typehints = { version = "^1.11", optional = true }
sphinx-automodapi = {version = "^0.13", optional = true}
sphinx-copybutton = { version = ">=0.3,<0.5", optional = true }
sphinx-inline-tabs = {version = "^2021.4.11-beta.9", optional = true, python = ">=3.8"}
sphinxcontrib-apidoc = { version = "^0.3", optional = true }
linkify-it-py = {version = "^1.0.1", optional = true}

[tool.poetry.extras]
all = ["boto3", "botocore", "pymongo", "redis", "ujson"]
bson = ["bson"]  # BSON comes with pymongo, and can also be used as a standalone codec
json = ["ujson"]
yaml = ["yaml"]
dynamodb = ["boto3", "botocore"]
mongodb = ["pymongo"]
redis = ["redis"]
docs = ["furo", "linkify-it-py", "myst-parser", "sphinx", "sphinx-autodoc-typehints",
        "sphinx-automodapi", "sphinx-copybutton", "sphinx-inline-tabs", "sphinxcontrib-apidoc"]

[tool.poetry.dev-dependencies]
mypy = "^0.910"
nox = "^2021.6.12"
nox-poetry = "^0.8.6"
pre-commit = "^2.12"
psutil = "^5.0"
pytest = "^6.2"
pytest-clarity = "^1.0.1"
pytest-cov = ">=2.11"
pytest-xdist = ">=2.2"
requests-mock = "^1.8"
responses = "0.10.15"
rich = ">=10.0"
sphinx-autobuild = "^2021.3.14"
timeout-decorator = "^0.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 105
skip-string-normalization = true

[tool.coverage.html]
directory = 'test-reports'

[tool.coverage.run]
branch = true
source = ['requests_cache']
omit = [
    'requests_cache/__init__.py',
    'requests_cache/backends/__init__.py',
    'requests_cache/models/__init__.py',
    'requests_cache/serializers/__init__.py',
]

[tool.coverage.report]
exclude_lines = [
    'pragma: no cover',
    'if TYPE_CHECKING:',
]

[tool.isort]
profile = 'black'
line_length = 105
skip_gitignore = true
skip = [
    'examples/',
    'requests_cache/__init__.py',
    'tests/compat/',
]
known_first_party = ['tests']
